@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
  }

  body {
    @apply bg-neutral-950 text-white antialiased selection:bg-lime-400 selection:text-neutral-950;
  }

  /* Professional Custom Scrollbar */
  ::-webkit-scrollbar {
    width: 8px;
  }

  ::-webkit-scrollbar-track {
    @apply bg-neutral-950;
  }

  ::-webkit-scrollbar-thumb {
    @apply bg-neutral-800 rounded-full hover:bg-neutral-700 transition-colors;
  }
}